.button {
    background: white;
    box-shadow: -2px 2px 2px #000;
    color: black;
    border: 0;
    border-radius: 16px;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    padding: 16px 24px;
    text-decoration: none;
}