.blog-page {
  padding-top: 78px;

  .bland-section-container {
    background: #fff;

    .bland-section-inner-container {
      .blog-post-container {
        margin-bottom: 32px;
      }
    }
  }
}
