.explore-our-gallery-container {
  margin: 20vw 0;
  z-index: 1;

  position: relative;
  overflow: hidden;

  .explore-our-gallery {
    > span {
      z-index: 1;
    }

    display: flex;
    flex-direction: column;

    .headline-container {
      display: flex;
      align-items: center;
      > .sideheadline {
        margin-left: 12px;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .headline {
      font-size: 32px;
      font-weight: 800;
      line-height: 1.3;
    }

    .section-visual {
      max-width: 224px;
      margin: 24px auto;
    }

    p {
      font-size: 18px;
    }

    .animate-border-content {
      display: flex;
      flex-direction: column;
      background-image: url(/images/vapors/Vapors_100x100_Heritageblue.png);
      background-size: cover;
      background-repeat: no-repeat;

      .cta {
        align-self: flex-end;
        margin-top: 36px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .explore-our-gallery-container {
    margin: 12vw 12vw 4vw;
    .explore-our-gallery {
      .headline {
        font-size: 4vw;
      }
    }
  }
}
