.first-two-sections-container {
  background-image: url(/images/vapors/Vapors_500x_OrangeYellow.png);
  background-size: 160%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: -90% -20%;

  @media (min-width: 1024px) {
    background-position-x: -90%;
    background-position-y: 90%;
  }
}
