.contact-us-page {
  overflow: hidden;
  .hs-form label {
    display: none;
  }

  .hs-form .input input {
    border-radius: 0 !important;
    border: 1px solid #4A4A4A;
    background-color: transparent!important;
    padding: 20px 0 20px 15px;
    color: #AAAAAA !important;
    text-transform: normal;
    margin-right: 0 !important;
    width: 100%;
    margin-bottom: 0;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .hs-form .hs-form-field input::placeholder,
  .hs-form .hs-form-field textarea::placeholder {
    color: #AAAAAA !important;
    font-size: 0.8rem !important;
    overflow-wrap: break-word;
  }

  .hs-form .hs-error-msgs label {
    display: block;
    font-size: 11px;
    color: red;
    text-transform: uppercase;
    margin-top: 2px;
  }

  .form-container {
    margin: 5rem auto auto;
    padding: 3rem 18px 3rem 3rem;
    border: 1px solid #CCCCCC;
    background: white;
    z-index: 3;
    position: relative;

    h2 {
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      margin-bottom: 3rem;
    }

    .hs-form {
      position: relative;

      label {
        display: none;

        &.hs-form-booleancheckbox-display {
          display: inline-block;

          span {
            color: #ff6418;
            margin-left: 5px;
          }
        }
      }

      select {
        color: #aaaaaa;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.25rem !important;
        font-size: 14px !important;
        background-color: white;
        /* border-radius: 4px; */
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 5px 2px;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin-bottom: 24px;
        background: url("//cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right;
        background-size: 10px;
        border: 0;
        border-bottom: 1px solid #ccc;
      }

      .hs-submit {
        width: 150px;
        margin-left: calc(50% - 75px);
        margin-top: 3rem;
        float: none;

        &:before {
          width: 150px;
        }

        .actions {
          width: 150px;
          text-align: center;
        }
      }

      .hs-button.primary.large {
        font-family: 'Avenir LT Pro',sans-serif;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        width: 150px;
        margin-left: 0;
      }

      .input {
        margin-right: 30px!important;
      }

      .actions {
        text-align: center;
      }

      .form-columns-1,
      .form-columns-2 {
        max-width: 100%;
      }

      .hs-form-field {
        .input {
          input[type="text"],
          input[type="email"],
          input[type="phone"],
          input[type="number"],
          input[type="tel"],
          input[type="date"],
          textarea {
            border: 0;
            border-bottom: 1px solid #ccc;
            background-color: transparent;
            margin-bottom: 32px;
            color: #555;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 24px;
            padding: 5px;
            letter-spacing: 5px;
            border-radius: 0;
            width: 100%;
            font-size: 14px;
          }
        }
        @media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
          float: none!important;
          width: 100%!important;
        }
      }

      .form-columns-2 {
        .hs-form-field {
          width: 50%;
          float: left;

          select {
            max-width: 100%;
            width: 100%;
          }

          &.hs_email {
            max-width: 100%;
          }
        }
      }

      .form-columns-1 {
        width: 100%;
        border: 0;
        outline: 0;

        .input {
          select,
          textarea {
            width: 100%!important;
            max-width: 100%;
          }

          textarea {
            border: 0;
            border-bottom: 1px solid #ccc;
          }

          .hs-form-booleancheckbox {
            display: block;
          }

          input[type=checkbox] {
            width: auto;
          }
        }
      }

      .form-columns-0 {
        margin: 0 auto;
      }

      .hs-error-msgs {
        padding-left: 0;

        li {
          list-style: none;
        }

        label {
          display: block;
          font-size: 11px;
          color: red;
          text-transform: uppercase;
          margin-top: -24px;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      padding-left: 18px;

      .hs-form {
        .input {
          margin-right: 0 !important;
        }

        .hs-input {
          width: 100% !important;
        }

        input[type="checkbox"] {
          float: left;
          width: 5%!important;
        }

        .hs-form-booleancheckbox span {
          float: right;
          width: 90% !important;
          margin-top: -10px;
          line-height: 1.5;
        }

        ol.inputs-list,
        ul.inputs-list {
          margin: 0;
        }
      }
    }
  }

  .hubspot-light {
    position: relative;
    margin-bottom: 50px;

    &:before {
      content: '';
      background: #e3e3e3;
      height: 700px;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      position: absolute;
      left: 0;
      z-index: 1;
      bottom: 0;
      margin-bottom: -100px;
    }
  }
}
