.innovation-header-container {
  position: relative;
  margin: 64px auto;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin: 64px calc(4vw + 24px);

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primaryGradient;
  }

  .texture-animation-container {
    left: 50%;
    top: 50%;
    margin-top: -200px;
    z-index: -1;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;

    @media (min-width: 1024px) {
      width: 35%;
    }

  }

  .copy {
    padding: 24px;

    @media (min-width: 1024px) {
      padding: 36px 48px;
    }

    color: white;

    h2 {
      font-weight: bold;
    }


    p {
      margin-top: 12px;
      font-size: 18px;
      line-height: 1.5;
        @media (min-width: 768px) {
          font-size: 24px;
          padding-bottom: 24px;
        }
      }
  }
}

@media (min-width: 1024px) {
  .innovation-inner-container {
    margin: 0 auto;

    .copy p {
      font-size: 24px;
    }
  }
}
