.spotlessPodcastSeriesSectionContainer.explore-our-gallery-container {
  @media (min-width: 1280px) {
    margin-top: 120px;
  }

  .animate-border-content {
    background: $gradientDark1;
  }

  .explore-our-gallery {
    .cta {
      align-self: center;
      margin-top: 16px;
      margin-bottom: 28px;
    }
    .section-visual {
      max-width: 100%;
      @media (min-width: 768px) {
        &.large {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            max-width: 250px;
            object-fit: contain;
          }
          .cta {
            align-self: inherit;
          }
        }
      }
    }
  }

  p {
    color: white;
    @media (min-width: 768px) {
      margin-top: 24px;
    }
  }
}
