$amplifiedOrange: rgba(241, 92, 44, 1);
$heritageOrange: rgba(244, 123, 32, 1);
$heritageBlue: rgba(14, 61, 82, 1);
$mineralGray: #313131;
$slightGray: #EEEEEE;
$yellow: #fcb316;
$pink: #ed79ca;
$calmingBlue: #5ea7a5;
$primaryGradient: linear-gradient(77.24deg, #f47b20 14.56%, #f15c2c 88.29%);
$secondaryGradient1: linear-gradient(
  142.86deg,
  #f47b20 2.47%,
  #f15c2c 43.9%,
  #ed79b0 95.24%
);

$secondaryGradient2: linear-gradient(141.68deg, #ed79ca 7.45%, #f15c2c 90.6%);

$gradientDark1: linear-gradient(122.97deg, #0e3d52 0%, #000000 95.81%);

$gradientDark2: linear-gradient(
  155.43deg,
  #313131 31.37%,
  #212121 37.63%,
  #000000 84.12%
);
